<div class="date">{{moment-format attempt.date "MMM Do YYYY"}}</div>
<div class="versus">vs. {{attempt.awayName}}</div>

<div class="score">
  {{#if attempt.didHappen }}
    {{attempt.homeScore}} - {{attempt.awayScore}}
  {{else}}
    ?? - ??
  {{/if}}
</div>
